  <div class="widget-wrap">
    <h3 class="widget-title">Ads</h3>
    <div class="widget">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- nagatani.github.io-side250 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:250px;height:250px"
           data-ad-client="ca-pub-8746484816226004"
           data-ad-slot="5789475901"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
  </div>